.small-card {
  display: flex;
  flex-direction: row; // Disposition horizontale
  align-items: flex-start; // Aligne l'icône et le texte par le haut
  gap: 2rem; // Espace entre l'icône et le texte

  height: 14rem; // On peut réduire la hauteur car le texte s'étale mieux en largeur !
  padding: 2rem;
  border-radius: 1.25rem;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(47, 49, 44, 0.03);
  border: 1px solid rgba(47, 49, 44, 0.08);
  width: 100%;
  text-align: left;

  transition: all 0.25s ease-in-out;

  @media screen and (min-width: 768px) {
    flex: 1 1 26rem; // Légèrement plus large pour donner de l'air au texte
    max-width: 32rem;
  }

  // --- TON EFFET DE MOUVEMENT PRÉFÉRÉ ---
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(47, 49, 44, 0.07);
  }

  // --- STRUCTURE DES COLONNES ---

  &__left {
    display: flex;
    justify-content: center;
    flex-shrink: 0; // Empêche l'icône de se déformer ou de rétrécir
  }

  &__right {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;

    svg {
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  &__title {
    font-family: var(--font-jakarta-sans);
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--main-font-color);
    line-height: 1.2;
    margin: 0;
  }

  &__description {
    font-family: var(--font-jakarta-sans);
    font-size: 0.95rem;
    line-height: 1.5;
    color: rgba(47, 49, 44, 0.85);
    margin: 0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin-bottom: 0.5rem;
    }
  }

  &--green {
    border-left: 4px solid var(--primary-color);
    &:hover {
      border-color: var(--primary-color);
    }
    .small-card__icon-wrapper {
      background-color: var(--light-primary-color);
      color: var(--dark-primary-color);
    }
  }

  &--blue {
    border-left: 4px solid var(--secondary-color);
    &:hover {
      border-color: var(--secondary-color);
    }
    .small-card__icon-wrapper {
      background-color: var(--light-secondary-color);
      color: var(--dark-secondary-color);
    }
  }

  &--yellow {
    border-left: 4px solid #e5a975;
    &:hover {
      border-color: #e5a975;
    }
    .small-card__icon-wrapper {
      background-color: var(--light-tertiary-color);
      color: var(--dark-tertiary-color);
    }
  }
}
