$animation-duration: 2s;

$line-length: 4296;

.loader-container {
  background-color: transparent;
  overflow: hidden;

  .loader-svg {
    color: var(--primary-color);

    &__small {
      max-height: 2.5rem;
      max-width: 2rem;
    }

    &__medium {
      max-height: 7rem;
      max-width: 5rem;
    }

    &__large {
      max-height: 20rem;
      max-width: 15rem;
    }
  }

  .logo-path {
    stroke: var(--primary-color);
    stroke-width: 1.5;
    fill: none;
    stroke-linecap: round;

    stroke-dasharray: $line-length;
    stroke-dashoffset: $line-length;

    // 'both' applique l'état initial (caché) dès avant le déclenchement de l'animation
    animation: drawLine 2s ease-in-out infinite alternate both;

    &.path-1 {
      animation-delay: 0s;
    }
    &.path-2 {
      animation-delay: 0.3s;
    }
    &.path-3 {
      animation-delay: 0.6s;
    }
    &.path-4 {
      animation-delay: 0.9s;
    }
  }
}

@keyframes drawLine {
  from {
    stroke-dashoffset: $line-length;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes pulse-scale {
  0%,
  100% {
    transform: scale(0.96);
  }
  50% {
    transform: scale(1.04);
  }
}
