// Configuration des variables
$animation-duration: 2s;

$line-length: 4296;

.loader-container {
  background-color: transparent;
  overflow: hidden;

  .loader-svg {
    color: var(--primary-color);

    &__small {
      max-height: 2.5rem;
      max-width: 2rem;
    }

    &__medium {
      max-height: 7rem;
      max-width: 5rem;
    }

    &__large {
      max-height: 20rem;
      max-width: 15rem;
    }
  }

  .logo-path {
    stroke: var(--primary-color); // Utilisation de ta variable noire adoucie
    stroke-width: 1.5;
    fill: none;
    stroke-linecap: round;

    // Utilisation de la valeur exacte !
    stroke-dasharray: $line-length;
    stroke-dashoffset: $line-length;

    /* Liaison avec l'animation :
       - On utilise 'both' pour que l'état initial (caché) soit respecté pendant le delay.
    */
    animation: drawLine 2s ease-in-out infinite alternate both;

    &.path-1 {
      animation-delay: 0s;
    }
    &.path-2 {
      animation-delay: 0.3s; // Légèrement réduit pour resserrer l'enchaînement
    }
    &.path-3 {
      animation-delay: 0.6s;
    }
    &.path-4 {
      animation-delay: 0.9s;
    }
  }
}

// --- Keyframes ---

@keyframes drawLine {
  from {
    stroke-dashoffset: $line-length; /* Totalement masqué */
  }
  to {
    stroke-dashoffset: 0; /* Totalement dessiné */
  }
}

@keyframes pulse-scale {
  0%,
  100% {
    transform: scale(0.96);
  }
  50% {
    transform: scale(1.04);
  }
}
