.home-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: var(--font-literata-serif);
    font-size: var(--title-font-size);
    text-align: center;
  }

  &__badge {
    font-size: 0.8rem;
    font-weight: bold;
    font-family: var(--font-jakarta-sans);
    padding: 0.5rem 1rem;
    border: 0.1rem solid #77b3cf;
    background-color: #bde9ff;
    border-radius: 2rem;
    margin-top: 2rem;

    opacity: 0;
    animation: fadeInBadge 1s ease-out forwards;
    animation-delay: 1s;
  }

  &__cards {
    padding: 2rem 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    max-width: 120rem;
  }
}

@keyframes fadeInBadge {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}
