// ==========================================
// 1. PAGE D'ACCUEIL GLOBALE
// ==========================================
.home-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: 3rem;

  &__cards {
    margin-top: 2.5rem;
    width: 100%;
    max-width: 120rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

// ==========================================
// 2. HARMONISATION DES TITRES DE SECTIONS
// ==========================================
.home-section {
  width: 100%;
  max-width: 120rem; // S'aligne parfaitement sur tes __cards
  padding-inline: 2rem;
  margin-top: 2.5rem;

  &__title {
    font-family: var(--font-jakarta-sans);
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--main-font-color);
    margin-bottom: 2.5rem;
    text-align: left;
  }
}

// ==========================================
// LIGNE DE SÉPARATION ÉLÉGANTE
// ==========================================
.home-divider {
  width: 80%; // Ne prend pas toute la largeur pour un effet plus raffiné
  max-width: 100rem;
  height: 1px;
  border: none;

  // Un dégradé qui part de transparent, devient légèrement gris/vert au centre, et redevient transparent
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--primary-color) 50%,
    transparent 100%
  );

  // Gère l'équilibre vertical avec la section suivante
  margin: 2.5rem auto 0 auto;
}

// ==========================================
// 3. LE COMPOSANT CALENDRIER / AGENDA
// ==========================================
.home-events {
  width: 100%;

  // Conteneur en ligne (Row) aligné au début
  &__grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;

    // --- LES TROIS LIGNES QUI SAUVENT LE MOBILE ---
    width: auto; // Laisse la grille dépasser de l'écran
    flex-wrap: nowrap; // Empêche le navigateur de tasser ou wrapper les cartes
    overflow-x: auto; // Active le scroll horizontal obligatoirement

    // Cache la scrollbar pour garder le design épuré
    scrollbar-width: none; // Firefox
    &::-webkit-scrollbar {
      display: none; // Chrome/Safari
    }

    // --- SUR DESKTOP : ON REPASSE EN MODE NORMAL ---
    @media screen and (min-width: 1024px) {
      flex-wrap: wrap; // On réautorise le wrap si tu as plus de 3 cartes un jour
      overflow-x: visible; // Plus besoin de scroller sur PC
    }
  }

  &__empty {
    font-family: var(--font-jakarta-sans);
    font-style: italic;
    color: rgba(47, 49, 44, 0.5);
    text-align: left;
    width: 100%;
  }
}
